.day {
  fill: lighten(#383C4A, 10);

  &:hover {
    stroke: #7c818c;
  }
}

.color {
  &-1 {
    fill: #FEE087;
  }
  &-2 {
    fill: #FEAB4B;
  }
  &-3 {
    fill: #FA5D2E;
  }
  &-4 {
    fill: #D31120;
  }
}

.meta-text {
  &.day-flag {
    text-align: right;
    text-anchor: end;
    fill: lighten(#282c3a, 60);
  }
    fill: lighten(#282c3a, 60);
  font-size: 8.5px;
  vertical-align: bottom;
  &.month-flag {
    text-align: left;
    text-anchor: start;
  }
}
