.day {
  fill: lighten(#383c4a, 10);

  &:hover {
    stroke: #7c818c;
  }
}

.meta-text {
  &.day-flag {
    text-align: right;
    text-anchor: end;
    fill: lighten(#282c3a, 60);
  }
  fill: lighten(#282c3a, 60);
  font-size: 8.5px;
  vertical-align: bottom;
  &.month-flag {
    text-align: left;
    text-anchor: start;
  }
}
