.button {
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2rem;

  cursor: pointer;

  background-color: var(--color-button__background);
  color: var(--color-button__text);

  &:hover {
    background-color: var(--color-button__background--hover);
    color: var(--color-button__text--hover);
  }

  &--transparent {
    background-color: none;
  }

  &--as-text {
    color: var(--color-button__inline-text);
    background-color: transparent;
    text-decoration: underline;
    padding: 0;

    &:hover {
      background-color: transparent;
      color: var(--color-button__inline-text--hover);
    }
  }
}
