.button {
  border: none;
  background-color: #0581fd;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 2rem;

  cursor: pointer;

  &--transparent {
    background-color: none;
  }

  &--as-text {
    color: inherit;
    background-color: transparent;
    text-decoration: underline;
  }
}
