$colors: (
  "red600": #e0151b,
  "blue000": #10141e,
  "blue100": #161d2f,
  "blue400": #5a698f,
  "white50": rgba(#ffffff, 0.5),
  "white75": rgba(#ffffff, 0.75),
  "white100": #ffffff,
);

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }

  .background-#{$name} {
    background-color: $color;
  }
}

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}
