:root {
  --color-background: var(--color-blue000);
  --color-text: var(--color-white100);
  --color-header: var(--color-white75);
  --color-placeholder: var(--color-white50);
  --color-button__background: var(--color-red600);
  --color-button__text: var(--color-white100);
  --color-button__inline-text: var(--color-red600);
  --color-button__inline-text--hover: var(--color-white100);
  --color-button__background--hover: var(--color-white100);
  --color-button__text--hover: var(--color-blue100);
}
