.content {
  display: flex;

  width: 100%;
  height: 100%;

  background-color: var(--color-background);
  color: var(--color-text);

  &--centered {
    align-items: center;
    justify-content: center;
  }
}
