.content {
  display: flex;

  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;

  background-color: var(--color-background);
  color: var(--color-text);

  &--centered {
    align-items: center;
    justify-content: center;
  }
}
