.fullscreen-section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373b44;
  height: 100vh;

  h {
    align: center;
  }

  &:nth-of-type(2n) {
    background-color: #fe4b74;
  }
}

.graph-container {
  width: 90%;
  height: 90%;
  margin: auto auto;
}

.section-container {
  text-align: center;
}
